{% extends 'niji/base.html' %}
{% load i18n %}
{% load niji_tags %}
{% load humanize %}

{% block left %}
    {% block before_main_left %}{% endblock %}
    <div class="panel panel-default">
        <div class="panel-body panel-subtitle">
            <a href="#">
                <span class="label label-success">{{ panel_title }}</span>
            </a>
        </div>
        <!-- List group -->
        <ul class="list-group topic-list">
            {% for topic in topics %}
                <li class="list-group-item topic-entry">
                    <div class="entry row">
                        <div class="col-md-1 col-lg-1 col-xs-2 col-sm-1 entry-avatar">
                            <a href="{% url 'niji:user_info' topic.user.pk %}"><img class="user-avatar" src="{% avatar_url topic.user %}"></a>
                        </div>
                        <div class="col-md-10 col-lg-10 col-xs-9">
                            <a href="{% url 'niji:topic' pk=topic.pk %}" class="entry-link">
                                {{ topic.title }}
                            </a>
                            <p class="entry-meta">
                                <a href="{% url 'niji:node' topic.node.pk %}">
                                        <span class="label label-default meta-node">
                                        {{ topic.node.title }}
                                        </span>
                                </a>
                                    <span class="meta meta-username">
                                        <a href="{% url 'niji:user_info' topic.user.pk %}">
                                            {{ topic.user.username }}
                                        </a>
                                    </span>
                                    <span class="meta meta-pub_date">
                                        {{ topic.pub_date | naturaltime }}
                                    </span>
                                    <span class="meta meta-last_replied hidden-xs">
                                        {% trans "Last Replied" %}: {{ topic.last_replied | naturaltime }}
                                    </span>
                            </p>
                        </div>
                        <div class="col-xs-1 entry-reply-count hidden-xs">
                            <span class="badge">{{ topic.reply_count }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="panel-footer">
            {% get_pagination %}
        </div>
    </div>
{% endblock %}